@import 'utils';

.header {
  background: rgba(28, 34, 37, 0.5);
  height: 7rem;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  color: white;

  box-shadow: 0 1px 3px rgba(226, 213, 213, 0.12), 0 1px 2px rgba(245, 242, 242, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .loger{
    flex: 1;
    font-size: 3rem;
    font-style: italic;
    display: flex;
    align-items: center;
    cursor: pointer;
    .markimg{
      background: url('static/assets/bitcoin.png');
      width:70px;
      height:70px;
    }
  }

  .header_buttons{
    position: absolute;
    right:100px;
    font-size: 1.5rem;
    display: flex;
    .button_item{
      padding:1rem;
      cursor: pointer;
      &:hover{
        background: rgb(99, 90, 90);
      }
    }
  }
}